/* .loader{

    background-color:blue;
}

.navbar-brand {

 color: red;
}

header{

    height: 500px;
    width: 1200px;
    background-size: cover;
    background-image: url(/static/images/snow.jpg);
} */